.breadcrumb-list-top{
    position: absolute;
    top: $site-header-height;
    z-index: 99;
    width: 100%;
    .breadcrumb{
        .readcrumb-item{
            a{
                color: #50575B;
                font-size: 12px;
                font-weight: 400;
            }
            &.active{
                color: #959C9F;
                &::after {
                    content: "";
                }
            }
            &::after {
                padding: 12px;
                color: #50575B;
                content: "/";
            }
        }
    }
}