// Buttons
.btn {
  white-space: nowrap;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 62px;
  padding: 0px 24px 0px 32px;
  gap: 4px;
  height: 36px;
  color: $dark;
  transition: 0.7s;
  span{      
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }
  svg{    
    width: 32px;
    height: 32px;
    path{
      fill: $dark;
      transition: 0.7s;
    }
  }
  &.btn-lg{
    padding: 0px 24px;
    height: 46px;
  }
  &.btn-md{
    padding: 0px 24px;
    height: 36px;
  }
  &.btn-sm{
    padding: 0px 24px;
    height: 32px;
  }
  // Theme Colors
  &-them-1 {
    color: $dark;
    background: $them-color;
    border:1px solid $them-color;
    &:hover{      
      color: $them-color !important;
      background: transparent !important;  
      border:1px solid $them-color;
      transition: 0.7s;
      svg{    
        color: $them-color !important;
        transition: 0.5s;
      }
    }
  }
  &-them-2 {
    color: $dark;
    background: $body-text-color;
    border:1px solid $body-text-color;
    &:hover{      
      color: $body-text-color !important;
      background: transparent !important;  
      border:1px solid $body-text-color;
      transition: 0.7s;
      svg{    
        color: $body-text-color !important;
        transition: 0.5s;
      }
    }
  }
  &-them-3 {
    color: $dark;
    background: #50575B;
    border:1px solid #50575B;  
    &:hover{      
      color: $body-bg-color !important;
      background: $white !important;
      border:1px solid $white  !important;
      transition: 0.7s;
    }
  }
  &-them-4 {
    color: $body-text-color;
    background: transparent;
    border:1px solid transparent;
    padding: 0px;
    height: 32px;    
    cursor: pointer;
    text-decoration: none;      
    svg{    
      color: $body-text-color !important; 
      transition: 0.7s; 
    }
    &:hover{      
      color: $them-color !important; 
      transition: 0.7s; 
      svg{    
        color: $them-color !important;
        transition: 0.7s; 
      }
    }
  }
  &-them-5 {
    background: transparent !important;  
    border:1px solid $them-color;
    span{        
      transition: 0.5s;
      color: $them-color;
    }
    svg{    
      color: $them-color !important;  
      transition: 0.5s;
    }
    &:hover{
      color: $body-text-color;
      background:$body-text-color;
      border:1px solid $body-text-color;
      transition: 0.7s;
      span{        
        transition: 0.7s;
        color: $body-text-color;
      }
      svg{    
        color: $body-text-color !important; 
        transition: 0.5s; 
      }
    }
  }
  &-them-6 {
    background: transparent !important;  
    border:1px solid $body-text-color;
    span{        
      transition: 0.5s;
      color: $body-text-color;
    }
    svg{
      color: $body-text-color !important; 
      transition: 0.5s; 
    }
    &:hover{
      color: $them-color;
      background:$them-color;
      border:1px solid $them-color;
      transition: 0.7s;
      span{        
        transition: 0.7s;
        color: $them-color;
      }
      svg{    
        color: $them-color !important;
        transition: 0.5s;   
      }
    }
  }
  &-them-7 {
    background: transparent;  
    border:1px solid $body-bg-color;
    span{        
      transition: 0.5s;
      color: $body-bg-color;
    }
    svg{    
      color: $body-bg-color !important;
      transition: 0.5s;
    }
    &:hover{
      color: $them-color;
      background:$body-bg-color;
      border:1px solid $body-bg-color;
      transition: 0.7s;
      span{        
        transition: 0.7s;
        color: $them-color;
      }
      svg{    
        color: $them-color !important;
        transition: 0.5s;
      }
    }
  }
  &-them-link {
    justify-content: space-between;
    border-radius: 0;
    padding: 0px 5px 0px 15px;
    gap: 4px;
    width: auto;
    height: 36px;
    color: #ffffff;
    background: transparent;
    border:none;
    position: absolute;
    z-index: 1;  
  }
  &-fav {
    border-radius: 0;
    padding: 0 0 0 8px;
    gap: 4px;
    width: 32px;
    height: 32px;
    padding: 0;
    svg{  
      color: $body-text-color;
      --fill2: $body-text-color;
      --fill: transparent;
    }
    &.selected {
      svg{      
        color: transparent !important;
        --fill: #D72027 !important;
        --fill2: #D72027 !important;
        stroke: #D72027 !important;
      }
    }
  }
  &:disabled {    
    color: #262B30;
    background: #50575B;
    border:1px solid #50575B;   
    &:hover{      
      color: $dark !important;
      background: #50575B !important;
      border:1px solid #50575B !important;
      transition: 0.7s;
    }
  }
}
