.tab-nav-box {
    .section-title{
        padding: 32px 0 24px 0;
        max-width: 356px;
    }
    .nav-pills {
        width: 100%;
        height: 60px;
        gap: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;  
        flex-wrap: nowrap;   
        flex-direction: row;
        margin-bottom: 24px; 

        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-color: #aaa transparent;
        scrollbar-width: thin;
        white-space: nowrap;
        max-width: 100%;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            background: rgba(232,232,232,.1);
            z-index: 0;
            left: 0;
            top: auto;
            bottom: 4px;
            width: 100%;
            height: 1px;
        }
        
        &::-webkit-scrollbar {
            width: 4px;
            height: 5px;
        }
        &::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background: #00000024;
            border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #00000024;
        }
        &::-webkit-scrollbar-thumb:active {
            background: #00000024;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 100px;
        }
        &::-webkit-scrollbar-track:hover {
            background: transparent;
        }

        &::-webkit-scrollbar-track:active {
            background: transparent;
        }
        &::-webkit-scrollbar-corner {
            background: transparent;
        }
        .nav-link{ 
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
            padding: 0px 0 24px 0;
            transition: all 0.4s linear 0.2s; 
            border-radius: 0;
            &::after{
              display: none;
            }    
            span{
              color: #AFB3B5;
              font-weight: 400;
              transition: all 0.4s linear 0.2s; 
              font-size: 16px;
              line-height: 22px;
            }
            svg{           
              display: none;
            }
            &.active{   
              padding: 0px 0 24px 0;
              background-color: transparent;
              border-bottom:2px solid $them-color;
              span{
                color: $white;
                font-weight: 500;
                transition: all 0.4s linear 0.2s; 
              }
            }
            &:hover{    
                padding: 0px 0 24px 0;
                background-color: transparent; 
                border-bottom:2px solid $them-color;
              span{ 
                color: $white;
                transition: all 0.4s linear 0.2s;
              }
            }
        }
    }
    .tab-content {
        .tab-pane{
            &.active{
            }
        }
    }
}