.brands{
    padding: 40px 0;
    .brand-slider{
        .swiper-slide{
            a{
                display: flex;
                width: auto;
                height: auto;
                padding: 8px 24px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0;
                .prm-media{
                    max-width: 100px;
                    max-height: 100px;
                    flex: 1 0 0;
                    img{
                        max-width: 130px;
                        object-fit: contain;
                    }
                }
                &:hover{
                    opacity: 0.7;
                    transition: opacity 0.5s;
                }
            }
        }
    }
}