
.main-slider {
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
    //pagination
    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
        > .swiper-pagination-bullet{
        position: relative;
        left: auto;
          &:before {
            width: 9px;
            height: 9px;
            background: #fff;
            transition: all .32s cubic-bezier(0, 0, 0.2, 1);
          }
          &.swiper-pagination-bullet-active{
            width: 45px;
            height: 9px;
            background: #ffffff23;
            border-radius: 5px;
            display: flex;
            transition: all .32s cubic-bezier(0, 0, 0.2, 1);
            &:before {
              width: 19px;
              border-radius: 5px;
            }        
          }
        }
    }
    .swiper-fraction{
        right: 33px;
        bottom: 76px
    }
    &-section{
      .slide-desc{
        max-width: 340px;
        .slider-text-line{
          width: 1px;
          padding: 20px 0;
          position: relative;
          display: flex;
          background: $white;
          margin:0 12px;
        }
      }
      picture{        
        height: 650px;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: block;
        img{
          object-fit: cover;
          height: 650px;
        }
        .overleyslider{
          content: "";
          position: absolute;
          right:0;
          left: 0;
          top: 0;
          bottom: 0;              
          width: 100%;
          height: 100%;
          z-index: 0;
          background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0.87%, rgba(0, 0, 0, 0) 100%); /* Safari 5.1-6, Chrome 10-25, ve daha eski webkit tabanlı tarayıcılar */
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0.87%, rgba(0, 0, 0, 0) 100%); /* Modern tarayıcılar */
        }
        &::before{
          content: "";
          position: absolute;
          right:0;
          left: 0;
          top: 0;              
          width: 100%;
          height: 30%;
          z-index: 0;
          background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 100%); /* Safari 5.1-6, Chrome 10-25, ve daha eski webkit tabanlı tarayıcılar */
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 100%); /* Modern tarayıcılar */
        }
        &::after{
          content: "";
          position: absolute;
          right:0;
          left: 0;
          bottom: 0;              
          width: 100%;
          height: 35%;
          z-index: 0;
          background: -webkit-linear-gradient(180deg, rgba(0, 7, 14, 0) 0%, #00070E 100%); /* Safari 5.1-6, Chrome 10-25, ve daha eski webkit tabanlı tarayıcılar */
          background: linear-gradient(180deg, rgba(0, 7, 14, 0) 0%, #00070E 100%); /* Modern tarayıcılar */
        }
      }
      
      .video-bg{        
        height: 650px;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: block;
        video{
          object-fit: cover;
          height: 650px;
        }
        .overleyslider{
          content: "";
          position: absolute;
          right:0;
          left: 0;
          top: 0;
          bottom: 0;              
          width: 100%;
          height: 100%;
          z-index: 0;
          background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0.87%, rgba(0, 0, 0, 0) 100%); /* Safari 5.1-6, Chrome 10-25, ve daha eski webkit tabanlı tarayıcılar */
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0.87%, rgba(0, 0, 0, 0) 100%); /* Modern tarayıcılar */
        }
        &::before{
          content: "";
          position: absolute;
          right:0;
          left: 0;
          top: 0;              
          width: 100%;
          height: 30%;
          z-index: 0;
          background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 100%); /* Safari 5.1-6, Chrome 10-25, ve daha eski webkit tabanlı tarayıcılar */
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0) 100%); /* Modern tarayıcılar */
        }
        &::after{
          content: "";
          position: absolute;
          right:0;
          left: 0;
          bottom: 0;              
          width: 100%;
          height: 35%;
          z-index: 0;
          background: -webkit-linear-gradient(180deg, rgba(0, 7, 14, 0) 0%, #00070E 100%); /* Safari 5.1-6, Chrome 10-25, ve daha eski webkit tabanlı tarayıcılar */
          background: linear-gradient(180deg, rgba(0, 7, 14, 0) 0%, #00070E 100%); /* Modern tarayıcılar */
        }
      }
    }
  }
