nav.navbar.navbar-fixed-top.navbar-inverse
	.container-fluid.g-0
		.navbar-header
			.header-grid
				.ga1
					.dropdown.menubox
						a.menubtn.dropdown-toggle(href='javascript:;' id='dropdownMenu' aria-haspopup='true' data-bs-toggle='dropdown' data-bs-auto-close='outside' aria-expanded='false')
							span.sr-only Menü
							+icon("menunav")
							+icon("menuclose")
						.dropdown-menu(aria-labelledby='dropdownMenu')
							.row.w-100.g-0.d-none.d-lg-block
								span.menu-title Categories
							.row.align-items-start.w-100.g-0
								.col-12.d-flex.d-lg-none
									.menu-login-box
										.login-user-box
											.login-user-icon
												+icon("profil").stroke-icon
											.d-flex.flex-column
												span.active-none Welcome to Enkudo
												span.active-block *******5555
												a.login-user-btn(href="index.html")
													span Log Out
										a.btn.btn-them-2.w-100(href="login.html")
											span Learn More
								.col-12.col-lg-3
									.nav-menu.d-flex.flex-column.me-3
										a.nav-link(href="javascript:;" id='v-pills-1')
											.d-flex.align-items-center
												+icon("gaming")
												span Gaming
											+icon("arrow-right").icon-arrow-right
										a.nav-link(href="javascript:;" id='v-pills-2')
											.d-flex.align-items-center
												+icon("video").stroke-icon
												span Streaming Video
											+icon("arrow-right").icon-arrow-right
										a.nav-link(href="javascript:;" id='v-pills-3')
											.d-flex.align-items-center
												+icon("music").stroke-icon
												span Streaming Music
											+icon("arrow-right").icon-arrow-right
										a.nav-link(href="javascript:;")
											.d-flex.align-items-center
												+icon("trivia").stroke-icon
												span Mega Promo/Trivia
										a.nav-link(href="javascript:;" id='v-pills-5')
											.d-flex.align-items-center
												+icon("education").stroke-icon
												span Education
											+icon("arrow-right").icon-arrow-right
										a.nav-link(href="javascript:;" id='v-pills-6')
											.d-flex.align-items-center
												+icon("digital").stroke-icon
												span Digital Publications
											+icon("arrow-right").icon-arrow-right
										a.nav-link(href="javascript:;")
											.d-flex.align-items-center
												+icon("kids").stroke-icon
												span Kids Club/Edutainment
								.col-12.col-lg-9
									.nav-content.overflow-hidden
										.nav-content-box(id="v-pills-1")
											.nav-content-box-header.d-flex.d-lg-none.align-items-center.justify-content-between
												a.d-flex.align-items-center.justify-content-start(href="javascript:;" id="menu-back-nav")
													+icon("ArrowLeft")
													span.sr-only Gaming
												a(href="javascript:;" id="menu-close-nav")
													+icon("menuclose")
											.content-p
												span.menu-title2 Play Hundreds of High- Quality Games
												p Enkudo provides a game subscription service that anyone can enjoy, with 200+ incredibly fun games — all without ads or in-app purchases.
												a.btn.btn-them-6.my-40(href="product-list.html")
													span Explore All Games
													+icon("ArrowRight").icon-arrow-right
												.row.align-items-end.w-100.g-5
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/1.png')
														.btn.btn-them-link
															span HTML5
															+icon("arrow-right").icon-arrow-right
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/2.png')
														.btn.btn-them-link
															span Quiz
															+icon("arrow-right").icon-arrow-right
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/3.png')
														.btn.btn-them-link
															span Sports
															+icon("arrow-right").icon-arrow-right
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/4.png')
														.btn.btn-them-link
															span Hyper Casual
															+icon("arrow-right").icon-arrow-right
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/5.png')
														.btn.btn-them-link
															span AAA
															+icon("arrow-right").icon-arrow-right
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/6.png')
														.btn.btn-them-link
															span Educational
															+icon("arrow-right").icon-arrow-right
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/7.png')
														.btn.btn-them-link
															span E-Sports
															+icon("arrow-right").icon-arrow-right
										
										.nav-content-box(id="v-pills-2")
											.nav-content-box-header.d-flex.d-lg-none.align-items-center.justify-content-between
												a.d-flex.align-items-center.justify-content-start(href="javascript:;" id="menu-back-nav")
													+icon("ArrowLeft")
													span.sr-only Streaming Video
												a(href="javascript:;" id="menu-close-nav")
													+icon("menuclose")
											.content-p
												span.menu-title2 Watch movies and TV shows
												p Subcribe to watch popular movies and TV shows, including award-winning series.
												a.btn.btn-them-2.my-40(href="product-list.html")
													span Explore All sVOD
													+icon("ArrowRight").icon-arrow-right
												.row.align-items-end.w-100.g-5
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/8.png')
														.btn.btn-them-link
															span All in One
															+icon("arrow-right").icon-arrow-right
													a.menu-img-box(href="product-list.html")
														+img('w-100', false, dirImages + 'menu/9.png')
														.btn.btn-them-link
															span Drama
															+icon("arrow-right").icon-arrow-right
											
										.nav-content-box(id="v-pills-3")
											.nav-content-box-header.d-flex.d-lg-none.align-items-center.justify-content-between
												a.d-flex.align-items-center.justify-content-start(href="javascript:;" id="menu-back-nav")
													+icon("ArrowLeft")
													span.sr-only Streaming Music
												a(href="javascript:;" id="menu-close-nav")
													+icon("menuclose")
											.content-p
												span.menu-title2 Play Hundreds of High- Quality Games
												p Enkudo provides a game subscription service that anyone can enjoy, with 200+ incredibly fun games — all without ads or in-app purchases.
												a.btn.btn-them-6.my-40(href="product-list.html")
													span Explore All Games
													+icon("ArrowRight").icon-arrow-right
												.row.align-items-end.position-relative.w-100.g-5
													.menu-alt-box
														.btn-group.dropend
															a.btn.btn-them-link.dropdown-toggle(data-bs-toggle='dropdown' aria-expanded='false')
																span HTML5
																+icon("arrow-right").icon-arrow-right
															ul.dropdown-menu
																a.menu-alt-link(href="product-list.html") Sports
																a.menu-alt-link(href="product-list.html") Hyper Casual
																a.menu-alt-link(href="product-list.html") AAA
																a.menu-alt-link(href="product-list.html") Educational
																a.menu-alt-link(href="product-list.html") E-Sports
														.btn-group.dropend
															a.btn.btn-them-link.dropdown-toggle(data-bs-toggle='dropdown' aria-expanded='false')
																span Quiz
																+icon("arrow-right").icon-arrow-right
															ul.dropdown-menu
																a.menu-alt-link(href="product-list.html") AAA
																a.menu-alt-link(href="product-list.html") Educational
																a.menu-alt-link(href="product-list.html") E-Sports
																a.menu-alt-link(href="product-list.html") Hyper Casual
																a.menu-alt-link(href="product-list.html") Sports
														.btn-group.dropend
															a.btn.btn-them-link(href="product-list.html")
																span Sports
																+icon("arrow-right").icon-arrow-right
														.btn-group.dropend
															a.btn.btn-them-link(href="product-list.html")
																span Hyper Casual
																+icon("arrow-right").icon-arrow-right
														.btn-group.dropend
															a.btn.btn-them-link(href="product-list.html")
																span AAA
																+icon("arrow-right").icon-arrow-right
														.btn-group.dropend
															a.btn.btn-them-link(href="product-list.html")
																span Educational
																+icon("arrow-right").icon-arrow-right
														.btn-group.dropend
															a.btn.btn-them-link(href="product-list.html")
																span E-Sports
																+icon("arrow-right").icon-arrow-right

													.col
														.menu-img-box-2
															+img('w-100', false, dirImages + 'menu/10.png')
																	
				.ga2
					.dropdown.searchbox
						.searchbtn.dropdown-toggle.mobil-none(id='dropdownSearch' aria-haspopup='true' data-bs-toggle='dropdown' data-bs-auto-close='outside' aria-expanded='false')
							.search-header
								span Search
								span.close-button
									+icon("close")
							.search-input-box
								input#inputSearch(type='text', placeholder='Find Games, Digital Platforms and more...', required='')
						a.search-icons(href="search-result.html")
							+icon("searchicon").stroke-icon
						.dropdown-menu(aria-labelledby='dropdownSearch')
							.dropdown-item
								.search-head-title.d-flex.align-items-center.justify-content-between
									span Previous Searches
									a.sht-link(href="javascript:;") Clean all
							a.dropdown-item(href="search-result.html")
								div breaking bad
							a.dropdown-item(href="search-result.html")
								div Disney
							a.dropdown-item(href="search-result.html")
								div HBO
							a.dropdown-item(href="search-result.html")
								div football
							a.dropdown-item(href="search-result.html")
								div football
							hr.sht-hr-line
							.dropdown-item
								.search-head-title.d-flex.align-items-center.justify-content-between
									span Trending Searches
							a.dropdown-item(href="product-list.html")
								.search-trend-box.d-flex.align-items-center.justify-content-start
									.trend-img
										+img('w-100', false, dirImages + 'search/1.png')
									.d-block
										h5.trend-title Grand Theft Auto: Vice City
										.trend-tag
											span GAMING
											span Hyper Casual
							a.dropdown-item(href="product-list.html")
								.search-trend-box.d-flex.align-items-center.justify-content-start
									.trend-img
										+img('w-100', false, dirImages + 'search/2.png')
									.d-block
										h5.trend-title Netfilix
										.trend-tag
											span STREAMING VIDEO
											span All in One
							a.dropdown-item(href="product-list.html")
								.search-trend-box.d-flex.align-items-center.justify-content-start
									.trend-img
										+img('w-100', false, dirImages + 'search/3.png')
									.d-block
										h5.trend-title VRExperience
										.trend-tag
											span GAMING
											span HTML5
							a.dropdown-item(href="product-list.html")
								.search-trend-box.d-flex.align-items-center.justify-content-start
									.trend-img
										+img('w-100', false, dirImages + 'search/4.png')
									.d-block
										h5.trend-title Impulse
										.trend-tag
											span EDUCATION
											span Wellbeing
							a.dropdown-item(href="product-list.html")
								.search-trend-box.d-flex.align-items-center.justify-content-start
									.trend-img
										+img('w-100', false, dirImages + 'search/5.png')
									.d-block
										h5.trend-title Spotify
										.trend-tag
											span STREAMING MUSIC
				
				.ga3
					.logo
						a(href="index.html")
							+img('w-100', false, dirImages + 'logo.svg')

				.ga4
					.lang-userbox
						.dropdown.languagebox
							a.langbtn.dropdown-toggle(href='javascript:;' id='dropdownLanguage' aria-haspopup='true' data-bs-toggle='dropdown' aria-expanded='false')
								span.sr-only عربي
								+icon("arrow-down")
							.dropdown-menu(aria-labelledby='dropdownLanguage')
								a.dropdown-item(href="#")
									span
									div Français / FR
								a.dropdown-item(href="#")
									span
									div English / ENG
						
				.ga5
					.lang-userbox
						.dropdown.userbox
							a.userbtn.dropdown-toggle(href='javascript:;' id='dropdownUserLogin' aria-haspopup='true' data-bs-toggle='dropdown' aria-expanded='false')
								+icon("profil").stroke-icon
								span.sr-only Login
								+icon("arrow-down")
							.dropdown-menu(aria-labelledby='dropdownUserLogin')
								a.dropdown-item(href="account-profile.html")
									+icon("profil").stroke-icon
									div Profile
								a.dropdown-item(href="account-subscriptions.html")
									+icon("sub").stroke-icon
									div Subscriptions
								a.dropdown-item(href="account-favoriets.html")
									+icon("fav").stroke-icon
									div My Favoriets
								a.dropdown-item(href="account-reviews.html")
									+icon("rating")
									div Ratings & Reviews
								a.dropdown-item.border-duble(href="account-notification.html")
									+icon("notification").active
									div Notifictions
								a.dropdown-item(href="setting-notification.html")
									+icon("setting").stroke-icon
									div Settings
								a.dropdown-item(href="index.html")
									+icon("logout").stroke-icon
									div Log out
