
//sortby Modal
.ems-prd-sortby-overlay.ems-overlay(data-target="body" data-ready="ems-prd-sortby-ready" data-animate="ems-prd-sortby-animate" data-type="remove")
.ems-modal.ems-modal-lg.ems-prd-sortby.ems-modal-end.ems-modal-lg-end.sortby-settings
    .modal-header.sortby-head-settings.d-flex.align-items-center.justify-content-between.d-lg-none                                
        .sortby-btn
            span Sort By
        .sortby-close(href="javascript:void(0)" aria-label="close" data-target="body" data-ready="ems-prd-sortby-ready" data-animate="ems-prd-sortby-animate" data-type="remove")
            +icon("menuclose")
                
    .modal-body.ems-scrollbar.ems-scrollbar-vertical
        .ems-data-filter-header
            .filter-sortby-content-scroll.ems-data-filter-scroll
                a.ems-data-filter-link(href="javascript:void(0);" data-filter="all")
                    .form-radio
                        label.radio-container(for='myRadio1')
                            input.form-radio-input.d-flex.d-lg-none(type='radio' name='myRaio' id='myRadio1' checked)
                            span.radiomark.d-flex.d-lg-none
                            .link-item All
                a.ems-data-filter-link(href="javascript:void(0);" data-filter="Recommended")
                    .form-radio
                        label.radio-container(for='myRadio2')
                            input.form-radio-input.d-flex.d-lg-none(type='radio' name='myRaio' id='myRadio2')
                            span.radiomark.d-flex.d-lg-none
                            .link-item Recommended
                a.ems-data-filter-link.active(href="javascript:void(0);" data-filter="MostPopular")
                    .form-radio
                        label.radio-container(for='myRadio3')
                            input.form-radio-input.d-flex.d-lg-none(type='radio' name='myRaio' id='myRadio3')
                            span.radiomark.d-flex.d-lg-none
                            .link-item Most Popular
                a.ems-data-filter-link(href="javascript:void(0);" data-filter="TopSelling")
                    .form-radio
                        label.radio-container(for='myRadio4')
                            input.form-radio-input.d-flex.d-lg-none(type='radio' name='myRaio' id='myRadio4')
                            span.radiomark.d-flex.d-lg-none
                            .link-item Top Selling
                a.ems-data-filter-link(href="javascript:void(0);" data-filter="HighestRated")
                    .form-radio
                        label.radio-container(for='myRadio5')
                            input.form-radio-input.d-flex.d-lg-none(type='radio' name='myRaio' id='myRadio5')
                            span.radiomark.d-flex.d-lg-none
                            .link-item Highest Rated
                a.ems-data-filter-link(href="javascript:void(0);" data-filter="LowestPrice")
                    .form-radio
                        label.radio-container(for='myRadio6')
                            input.form-radio-input.d-flex.d-lg-none(type='radio' name='myRaio' id='myRadio6')
                            span.radiomark.d-flex.d-lg-none
                            .link-item Lowest Price
                    
    .modal-footer.d-flex.align-items-center.justify-content-between.d-lg-none
        a.btn.btn-them-1.btn-lg.w-100(href="#!" aria-label="search result") 
            span Show Results
            +icon("ArrowRight").icon-arrow-right

//sortby Modal